<div class="container">

  <div class="row">
    <div class="col">
      <h1 class="pl-4 font-weight-bolder">
        <a routerLink="/store" class="navbar-brand"> Welcome to SPORT STORE </a>
      </h1>
    </div>
    <div class="col">
        <app-cart-summary></app-cart-summary>
    </div> 
  </div>

  <div class="row mt-2">
    <div class="col-md-4 p-3 bg-light">
      <button type="button" name="button" class="btn btn-block btn-outline-primary" (click)="changeCategory()"> Home </button>
      <button type="button" *ngFor="let cat of categories" class="btn btn-outline-primary btn-block" [class.active]="cat==selectedCategory" (click)="changeCategory(cat)">
        {{ cat }}
      </button>
    </div>
    <div class="col-md-8">
      <div *ngFor="let product of products" class="mb-2 media bg-light">
        <img class="img-thumbnail m-3" src="/assets/store/{{product.image}}" width="130" height="130"> 
        <div class="media-body m-3">
          <h3> {{ product.name}}
            <span class="badge badge-pill badge-warning float-right m-1">
              {{ product.price | currency:"USD":"symbol":"2.2-2" }}
            </span>
          </h3>
          <h5 class="p-1"> {{ product.description }} </h5>
          <button class="btn btn-info btn-sum float-right" (click)="addProductToChart(product)"> Add To Cart</button>
        </div>
      </div>

            <div class="form-inline float-left">
              <select class="form-control" name="" [value]="productsPerPage" (change)="changePageSize($event.target.value)">
                <option value="3"> 3 per Page </option>
                <option value="4"> 4 Per Page </option>
                <option value="6"> 6 per page </option>
                <option value="8"> 8 per page </option>
              </select>
              </div>

              <div class="btn-group float-right">
                <!-- [class.active] to hold the class effect on --> 
                <button *ngFor="let page of pageNumbers" (click)="changePage(page)" class="btn btn-outline-primary" [class.active]="page==selectedPage">
                  {{ page }}
                </button>
              </div>
      </div>
  </div>
</div>
